ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 0 50px;
  font: 18px "Raleway", sans-serif;
  height: 293px;
}

.header__links-list {
  display: flex;
  gap: 33px;
}

.header__links-list-item {
  list-style: circle;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  min-width: 135px;
}

.address {
  font-style: normal;
  line-height: 25px;
}

.header__address {
  max-width: 240px;
  justify-self: end;
  padding-right: 35px;
}

.cover {
  position: relative;
  max-width: 1100px;
  min-height: 757px;
  padding: 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
  position: relative;
  z-index: 2;
  font: bold 100px/1.15 "Raleway", sans-serif;
}

.aligned-text {
  position: absolute;
  white-space: nowrap;
  letter-spacing: 0.3em;
}

.aligned-text_left {
  top: 115px;
}

.aligned-text_center {
  top: 250px;
  left: 27px;
  right: 0;
  text-align: center;
}

.aligned-text_right {
  top: 385px;
  right: -30px;
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 2;
  left: 50px;
  right: 50px;
  bottom: 50px;
}

.cover__description-text {
  text-transform: uppercase;
  font-size: 22px;
}

.letter-spacing-extended {
  word-spacing: 18px;
}

.no-letter-spacing {
  word-spacing: normal;
}

.bet-button {
  width: 256px;
  height: 51px;
  background: transparent;
  border: 1px solid #ffffff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font: 22px "Raleway", sans-serif;
  text-transform: uppercase;
  color: #ffffff;
}

.lots {
  margin: 180px 24px 120px;
}

.lots__card-list {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  color: #ffffff;
}

.section__heading {
  text-transform: uppercase;
}

.lots__heading {
  margin-left: 40px;
  font-size: 40px;
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  min-height: 596px;
  position: relative;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
}

.card-link {
  text-decoration: none;
}

.card__title {
  position: relative;
  z-index: 2;
  text-decoration: underline;
  text-transform: uppercase;
  font: bold 22px "Raleway", sans-serif;
}

.card__text {
  position: relative;
  z-index: 2;
  font: 20px "Raleway", sans-serif;
  line-height: 1.2;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  font-weight: normal;
}

.about {
  display: grid;
  grid-template-columns: 334px auto;
  margin-bottom: 180px;
}

.about__logo {
  background-color: rgba(0, 0, 0, 100%);
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  align-items: center;
  padding: 64px 45px;
  margin-top: 35px;
  margin-left: 71px;
}

.about__column-wide {
  display: flex;
  flex-direction: column;
  width: 693px;
  margin-top: 133px;
  margin-left: 47px;
}

.about__title {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}

.about__text {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 50px;
  min-height: 180px;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

.footer__address {
  width: 265px;
}

.footer__menu-list-item {
  justify-self: center;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  padding-left: 95px;
  gap: 48px;
}

.footer__social-list-item {
  width: 48px;
}